<div class="my-4">
  <h2 class="text-xl text-black font-semibold mb-3 px-2">{{ title }}</h2>
  <div class="overflow-x-auto whitespace-nowrap px-2 no-scrollbar">

    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
    <div [routerLink]="['/home/place-details']" class="inline-block w-32 mr-3 p-5 lg:w-80 lg:h-48 md:w-72 md:h-40">
      <img
        src="https://s.cafebazaar.ir/images/icons/ir.isfahan.app.twa-683d507a-d869-4b80-9096-de55e92b6c27_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
        class="rounded-xl shadow-md w-full h-24 lg:h-full object-cover" />
      <p class="text-center text-black  mt-1 text-sm">همدان من</p>
    </div>
  </div>
</div>